*.pyc
*.pkl
*.py~
*.html
*.json
.idea/*
.ipynb_checkpoints
Data/*.pkl
Docs/*
Miscellaneous/*
pickles/*
Results/*
Tests/*
Data/iota_full/*
spreadsheet.py
client_secret.json
tmp
create_figure_robust.py
infer.py